body.chat-page {
  overflow: hidden;
}
.chat-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  &.no-chat-input {
    .chat-box-wrapper {
      max-height: calc(100vh - 62px);
      @media screen and (min-width: $screen-tablet-min) {
        max-height: calc(100vh - 70px);
      }
    }
  }
  .header,
  .chat-box-wrapper,
  .chat-input,
  .chat-audio-recorder {
    padding-left: 0;
    @media screen and (min-width: $screen-tablet-min) {
      margin-right: 250px;
    }
  }
  .header {
    z-index: 3;
  }
  .bm-menu-wrap {
    z-index: 4 !important;
  }
  .left-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 5 !important;
    }
  }
  .right-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 4 !important;
    }
  }
  .bm-burger-button {
    display: none;
  }
  .header {
    flex-shrink: 0;
  }
  .chat-input,
  .chat-audio-recorder {
    flex-shrink: 0;
  }
}
