.alert {
  border-radius: 0;
  color: #fff;
  margin-bottom: 1.25rem;
  padding: 15px;
  &.alert-success {
    background-color: $color-parsley;
  }
  &.alert-info {
    background-color: $color-deep-sea-green;
  }
  &.alert-warning {
    background-color: $color-yukon-gold;
  }
  &.alert-danger {
    background-color: $color-persian-plum;
  }
}
