.input {
  & > input {
    &:focus {
      border-color: $color-primary;
      & ~ label {
        color: $color-primary;
      }
    }
  }
  &.invalid {
    & > input {
      background-color: rgba($color-punch, 0.1);
      border-color: $color-punch;
      &:focus {
        & ~ label {
          color: $color-punch;
        }
      }
    }
  }
}
