.sub-menu-item {
  background-color: $color-aqua-forest;
  border-bottom: 1px solid $color-goblin;
  cursor: pointer;
  padding: 6px 10px;
  transition: all 0.2s ease;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-goblin;
  }
  .sub-menu-title {
    font-size: 14px;
    margin-left: 40px;
  }
}
