/* Colors */
$color-alabaster: #f9f9f9;
$color-alto: #d3d3d3;
$color-amaranth: #ea4754;
$color-aqua-forest: #5ea675;
$color-cerulean: #00aced;
$color-chambray: #3b5998;
$color-deep-cerulean: #0077b5;
$color-deep-sea-green: #0c5460;
$color-dodger-blue: #2196f3;
$color-dusty-gray: #999;
$color-east-bay: #403d6c;
$color-ebony-clay: #23223a;
$color-emperor: #555;
$color-flamenco: #fe7e0a;
$color-gallery: #eee;
$color-guardsman-red: #d50000;
$color-killarney: #2e5c3d;
$color-mantis: #5dc060;
$color-millbrook: #5d4037;
$color-mine-shaft: #333;
$color-mirage: #141f2e;
$color-old-lace: #fefbf7;
$color-parsley: #155724;
$color-persian-plum: #721c24;
$color-porche: #eebc62;
$color-punch: #db3236;
$color-rhino: #2a4160;
$color-scampi: #5f5aa2;
$color-studio: #8a3ab9;
$color-sunshade: #ffa726;
$color-vermillion: #ff4500;
$color-yellow-orange: #fe9c43;
$color-yukon-gold: #856404;

// Color palette
$color-primary: $color-rhino;
$color-secondary: $color-scampi;
$color-tertiary: $color-ebony-clay;

/* Screen sizes */
$screen-mobile-min: 480px;
$screen-tablet-min: 768px;
$screen-desktop-min: 992px;
$screen-small-mobile-max: $screen-mobile-min - 1;
$screen-mobile-max: $screen-tablet-min - 1;
$screen-tablet-max: $screen-desktop-min - 1;
