.chat-room-member-wrapper {
  border-bottom: 1px solid $color-english-walnut;
  font-size: 14px;
  position: relative;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-english-walnut;
  }
  &.active {
    background-color: $color-secondary;
  }
  &.special {
    background-color: $color-vermillion;
  }
  .member-api-address {
    align-items: center;
    background-color: $color-dusty-gray;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2px 8px;
    small {
      margin-right: 5px;
    }
  }
}
.chat-room-member {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  padding: 3px;
  transition: all 0.2s ease;
  .online-indicator {
    color: $color-dusty-gray;
    font-size: 10px;
    margin: 0 5px;
    &.online {
      color: $color-mantis;
    }
  }
  .avatar {
    margin-right: 12px;
  }
  .member-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .you-label {
      color: $color-alto;
      margin-left: 7px;
    }
  }
  .mute-logo {
    color: $color-alto;
    margin: 0 2px;
  }
  .gender-logo {
    color: #fff;
    margin: 0 2px;
  }
}
