.chat-input-wrapper {
  align-items: center;
  background-color: $color-gallery;
  display: flex;
  height: 65px;
  position: relative;
  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
  &.small {
    height: 60px;
    .chat-input {
      flex-direction: column;
      .textfield[contenteditable=true] {
        font-size: 14px;
        line-height: 20px;
        max-height: 26px;
        .emojione {
          $emoji-size: 20px;
          height: $emoji-size;
          width: $emoji-size;
        }
      }
      .extra-buttons {
        .extra-button {
          padding: 4px;
        }
      }
    }
    .emoji-dialog,
    .text-format-picker {
      bottom: 60px;
    }
    .autocomplete-box-wrapper {
      bottom: 60px;
      left: 10px;
      right: 10px;
    }
    .send-button {
      flex: 0 0 50px;
      font-size: 9px;
    }
  }
  .textfield[contenteditable=true],
  .extra-buttons,
  .emoji-dialog,
  .text-format-picker,
  .autocomplete-box-wrapper,
  .send-button {
    z-index: 2;
  }
  .emoji-dialog {
    border-radius: 0;
    bottom: 65px;
    box-shadow: 0 5px 5px -5px #000;
    height: 300px !important;
    position: absolute;
    right: 20px;
    width: 350px !important;
    @media screen and (max-width: $screen-mobile-max) {
      right: 0;
      width: 100% !important;
    }
    .emoji-dialog-header {
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
    .emoji-row {
      display: flex;
      justify-content: space-between;
    }
    .emoji {
      outline: none !important;
      .emojione {
        $emoji-size: 22px;
        height: $emoji-size;
        width: $emoji-size;
      }
    }
  }
  .text-format-picker {
    bottom: 65px;
    right: 50px;
    position: absolute;
    @media screen and (max-width: $screen-mobile-max) {
      right: 0;
    }
  }
  .autocomplete-box-wrapper {
    bottom: 65px;
    left: 20px;
    position: absolute;
    right: 20px;
    width: auto;
    @media screen and (max-width: $screen-mobile-max) {
      left: 0;
      width: 100% !important;
    }
  }
  .chat-input {
    display: flex;
    flex: 19;
    margin-left: 10px;
    @media screen and (max-width: $screen-mobile-max) {
      flex-direction: column;
    }
    .textfield[contenteditable=true] {
      border: 0;
      color: #000;
      cursor: text;
      flex: 1;
      font-size: 15px;
      line-height: 24px;
      max-height: 32px;
      padding: 3px 7px;
      user-select: text;
      &:empty:before {
        color: $color-dusty-gray;
        content: attr(placeholder);
        display: inline;
      }
      &:focus {
        outline: none;
      }
      &.single-line {
        overflow: hidden auto;
        word-break: break-all;
        br {
          display: none;
        }
        * {
          display: inline;
          white-space: nowrap;
        }
      }
      .emojione {
        $emoji-size: 24px;
        height: $emoji-size;
        vertical-align: bottom;
        width: $emoji-size;
      }
      .user-username-tag {
        background-color: rgba($color-primary, 0.1);
        border-radius: 3px;
        color: $color-primary;
        padding: 2px 5px;
      }
    }
    .extras {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    .extra-buttons {
      display: flex;
      flex: 0 0 50px;
      margin-right: 10px;
      .extra-button {
        align-items: center;
        backface-visibility: hidden;
        color: #000;
        cursor: pointer;
        display: flex;
        margin: 0;
        padding: 4px 7px;
        text-align: center;
        transition: all 0.3s ease;
        @media screen and (max-width: $screen-mobile-max) {
          padding: 5px;
        }
        &:active,
        &:focus,
        &:hover {
          box-shadow: none;
        }
        &:hover {
          color: $color-secondary;
          transform: scale(1.25);
        }
      }
      .image-button,
      .file-button {
        cursor: pointer;
      }
      .file-button,
      .emoji-button {
        font-size: 17px;
      }
      .audio-button {
        font-size: 16px;
      }
      .image-button,
      .text-format-button {
        font-size: 14px;
      }
    }
  }
  .send-button {
    align-items: center;
    border-radius: 0;
    display: flex;
    flex: 0 0 90px;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    @media screen and (max-width: $screen-mobile-max) {
      flex: 0 0 70px;
    }
    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }
}
